<div class="content-body sm:w-[80vw]">
    <app-page-header [title]="(isEdit ? 'Edição' : 'Cadastro') + ' de Curso'"></app-page-header>
    <div class="w-full max-w-md mx-auto mt-16 grid">
        <form [formGroup]="cursoForm">
            <span>Nome</span>
            <input type="text" formControlName="nmCurso" pInputText class="w-full mb-4" placeholder="Digite o nome do curso">
            <span>Coordenador</span>
            <p-select 
                [options]="listCoordenadores" 
                formControlName="coordenador"
                optionLabel="nmUser" 
                placeholder="Selecione" 
                class="w-full mb-4" />
            <span>Carga horária</span>
            <p-inputnumber inputId="integeronly" formControlName="nrCargaHoraria" class="w-full" placeholder="Digite carga horária do curso" />
            <div class="flex flex-col justify-end mt-4 sm:flex-row gap-2">
                <p-button label="Cancelar" class="w-full flex sm:w-auto" routerLink="/cursos" severity="secondary"></p-button>
                <p-button label="Salvar" [disabled]="cursoForm.invalid" class="w-full flex sm:w-auto" (click)="saveCurso()"></p-button>
            </div>
        </form>
    </div>
</div>