<div class="content-body sm:w-[80vw]">
    <app-page-header title="Usuários"></app-page-header>
    <div class="top-area-list">
        <input type="text" pInputText (input)="applyFilter($event)" placeholder="Pesquise o usuário por nome...">
        <p-button label="Cadastrar novo usuário" routerLink="/users/register" icon="pi pi-plus"></p-button>
    </div>
    <p-table 
        #userTable
        [value]="listUsers" 
        [paginator]="true"
        [styleClass]="'p-datatable-sm'"
        [rows]="5"
        [globalFilterFields]="['id', 'name', 'tpUser']"
        >
        <ng-template #header>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Tipo de usuário</th>
                <th>CPF</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>{{ user.cdUser }}</td>
                <td>{{ user.nmUser }}</td>
                <td>{{ user.tpUser.dsTpUser }}</td>
                <td>{{ user.cpf }}</td>
                <td style="text-align: right;">
                    <p-button pTooltip="Visualizar" [routerLink]="['./' + user.cdUser + '/detail']" tooltipPosition="top" icon="pi pi-eye" [rounded]="true" [text]="true" />
                    <p-button pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" [rounded]="true" [text]="true" />
                    <p-button pTooltip="Excluir" tooltipPosition="top" icon="pi pi-trash" [rounded]="true" [text]="true" (click)="viewModalConfirmDelete = true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Confirmar exclusão de usuário" [modal]="true" [(visible)]="viewModalConfirmDelete" [style]="{ width: '25rem' }">
    <div class="pb-5">
        <span>O usuário FULANO DE TAL será excluído do sistema. Você confirma esta exclusão?</span>
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="viewModalConfirmDelete = false" />
        <p-button label="Confirmar" severity="danger" (click)="viewModalConfirmDelete = false" />
    </div>
</p-dialog>
<router-outlet></router-outlet>