<p-dialog 
    [header]="'Confirmar exclusão de usuário'" 
    [modal]="true" 
    [visible]="true" 
    [style]="{ width: '40rem' }" >
    <ng-template #headless>
        <div class="m-4">
            <div class="modal-header">
                <span>Detalhes do Usuário</span>
            </div>
            <div class="modal-body my-4">
                <span>Nome: <strong>{{ user.nmUser }}</strong></span>
                <span>Tipo de usuário: <strong>{{ user.tpUser.dsTpUser }}</strong></span>
                <span>CPF: <strong>{{ user.cpf }}</strong></span>
            </div>
            <div class="flex justify-end gap-2">
                <p-button label="Fechar" severity="primary" [routerLink]="['../../']" />
            </div>
        </div>
    </ng-template>

</p-dialog>