<div class="content-body sm:w-[80vw]">
    <app-page-header title="Cadastro de Disciplina"></app-page-header>
    <div class="w-full max-w-md mx-auto mt-16 grid">
        <form>
            <span>Nome</span>
            <input type="text" pInputText class="w-full mb-4" placeholder="Digite o nome da disciplina">
            <span>Professor</span>
            <!--<p-select [options]="listProfessores" optionLabel="name" placeholder="Selecione" class="w-full mb-4" />-->
            <p-multiselect [options]="listProfessores" display="chip" optionLabel="name" placeholder="Selecione os professores" styleClass="w-full mb-4" />
            <span>Semestre</span>
            <p-inputnumber inputId="integeronly" class="w-full mb-4" placeholder="Ex.: 4" />
            <span>Créditos</span>
            <p-inputnumber inputId="integeronly" class="w-full mb-4" placeholder="Ex.: 8" />
            <div class="flex flex-col justify-end mt-4 sm:flex-row gap-2">
                <p-button label="Cancelar" class="w-full flex sm:w-auto" [routerLink]="['../']" severity="secondary"></p-button>
                <p-button label="Salvar" class="w-full flex sm:w-auto" [routerLink]="['../']"></p-button>
            </div>
        </form>
    </div>
</div>