@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}
.background-main {
    background-color: #232328;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.content-body {
    background-color: #09090b;
    width: 100vw;
    min-height: 100vh;
    padding: 16px;
}