body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.background-main {
    background-color: #c6e7ff;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.content-body {
    background-color: white;
    width: 80vw;
    padding: 32px;
}