<div class="content-body sm:w-[80vw]">
    <app-page-header title="Cursos"></app-page-header>
    <div class="top-area-list">
        <input type="text" pInputText (input)="applyFilter($event)" placeholder="Pesquise o curso por nome...">
        <p-button label="Cadastrar novo curso" routerLink="/cursos/register" icon="pi pi-plus"></p-button>
    </div>
    <p-table 
        #cursoTable
        [value]="cursos" 
        [paginator]="true"
        [styleClass]="'p-datatable-sm'"
        [rows]="5"
        [globalFilterFields]="['cdCurso', 'nmCurso']"
        >
        <ng-template #header>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Carga horária</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-curso>
            <tr>
                <td>{{ curso.cdCurso }}</td>
                <td>{{ curso.nmCurso }}</td>
                <td>{{ curso.nrCargaHoraria }}h</td>
                <td style="text-align: right;">
                    <p-button pTooltip="Visualizar" [routerLink]="['./' + curso.cdCurso + '/detail']" tooltipPosition="top" icon="pi pi-eye" [rounded]="true" [text]="true" />
                    <p-button pTooltip="Matriz curricular" [routerLink]="['./' + curso.cdCurso + '/matriz-curricular']" tooltipPosition="top" icon="pi pi-calendar" [rounded]="true" [text]="true" />
                    <p-button pTooltip="Disciplinas" [routerLink]="['./' + curso.cdCurso + '/disciplinas']" tooltipPosition="top" icon="pi pi-book" [rounded]="true" [text]="true" />
                    <p-button pTooltip="Editar" [routerLink]="['./' + curso.cdCurso + '/edit']" tooltipPosition="top" icon="pi pi-pencil" [rounded]="true" [text]="true" />
                    <p-button pTooltip="Excluir" tooltipPosition="top" icon="pi pi-trash" [rounded]="true" [text]="true" (click)="confirmCursoDeletion(curso)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Confirmar exclusão de usuário" [modal]="true" [(visible)]="viewModalConfirmDelete" [style]="{ width: '25rem' }">
    <div class="pb-5">
        <span>O curso {{ cursoToBeDeleted?.nmCurso }} será excluído do sistema e essa ação excluirá todas as disciplinas vinculadas à este curso. Você confirma esta exclusão?</span>
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="viewModalConfirmDelete = false" />
        <p-button label="Confirmar" severity="danger" (click)="deleteCurso()" />
    </div>
</p-dialog>
<router-outlet></router-outlet>